.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #c93a3a;
    color: white;
    font-weight: bold;
    border: 0px;
}

.card-header {
    background-color: #eeeeee;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-content {
    overflow-y: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pokemon-sprite {
    width: 25%;
}

.pokemon-sprite__img {
    width: 100%;
    height: auto;
}

.pokemon-main-stat {
    padding: 20px ;
}

.pokemon-number {
    margin: 0;
}

.pokemon-name {
    margin: 0;
}

.pokemon-stat__title {
    margin-bottom: 0px;
}

.pokemon-stat__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.show-details {
    padding: 15px;
    margin: 5px;
    width: calc(100vw - 100px);
    border: 0px;
    transition: 0.3s;
}

.show-details:hover {
    font-weight: bolder;
    color: #ffcb05;
    background-color:#3c5aa6;
}

.app-header {
    text-align: center;
    height: 3em;
}

.pokemon-list {
    height: calc(100vh - 7em);
    overflow-y: auto;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .card-header {
        flex-direction: column;
    }
    .pokemon-main-stat {
        width: 100%;
    }

    .pokemon-sprite {
        width: 100%;
    }
  }